*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: aliceblue;
font-family: sans-serif;
outline: none;

}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caluclator{

    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px  5px 12px wheat,
                      5px 5px 12px rgb(46, 46, 46) ;
      display: grid;     
      grid-template-columns: repeat(4,68px);

}
input{
grid-column: span 4;
height: 70px;
width: 260px;
background-color: aliceblue;
box-shadow: inset  -5px  -5px 12px wheat,
                      5px 5px 12px rgb(46, 46, 46) ; 
border: none;
border-radius: 30px;
color: rgb(70, 70, 70);
font-size: 50px;
text-align: end;
margin: auto;
margin-top: 40px;
margin-bottom: 30px;
padding: 20px;
}

button{
    height: 48px;
    width: 48px;
    background-color: aliceblue;
    box-shadow: -5px  -5px 12px wheat,
                      5px 5px 12px rgb(46, 46, 46) ;
border: none;
border-radius: 50%;
margin: 16px;

}
.equal{
width: 115px;
border-radius: 40px;
background-color: aliceblue;
box-shadow: inset  -5px  -5px 12px wheat,
                      5px 5px 12px rgb(46, 46, 46) ; 

}